<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yh.common.model.user.manage.dao.SysAccountManageDao">

    <select id="pageSysAccounts" parameterType="com.yh.common.model.user.manage.search.SysAccountSearch"
            resultType="com.yh.common.model.user.entity.SysAccount">
        select * from sys_account
        <where>
            deleted = 0 and merchant_id = #{search.merchantId}
            <if test="search.account != null and search.account!=''">
                and account like '%${search.account}%'
            </if>
            <if test="search.realName != null and search.realName!=''">
                and real_name like '%${search.realName}%'
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="pagePlatformSysAccounts"
            parameterType="com.yh.common.model.user.manage.search.PlatformSysAccountSearch"
            resultType="com.yh.common.model.user.entity.SysAccount">
        select * from sys_account
        <where>
            deleted = 0 and account_type = 2
            <if test="search.account != null and search.account!=''">
                and account like '%${search.account}%'
            </if>
            <if test="search.realName != null and search.realName!=''">
                and real_name like '%${search.realName}%'
            </if>
        </where>
        order by create_time desc
    </select>


</mapper>